* {
    font-family: 'Md Sans', sans-serif;
    color: #b3b3b3;
    letter-spacing: 0.3px;
}


body {
    background-color: #000000;
    height: 100vh;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0px;
    padding: 12px;
    width: 400px;
}

.sidebar_navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 10px 0 0 6px;
    
}

.sidebar_navigation .logo {
    background-color: #121212;
    display: flex;
    border-radius: 10px;
    padding: 10px 0 0 16px;
}

.sidebar_navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 10px;
    padding: 0 20px 10px 10px;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    padding-left: 8px;
}

.sidebar_navigation_home:hover {
    color: #fff;
}

.sidebar_navigation_search:hover {
    color: #fff;
}

.sidebar nav ul li a span {
    padding-right: 12px;
}

.library {
    background-color: #121212;
    border-radius: 10px;
    padding: 10px 8px 10px 8px;
    margin-top: 8px;
    height: 680px;
}

.library ul {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 10px 6px;
}

.library ul li a {
    color: #b3b3b3;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    padding-left: 8px;
}

.library ul li a span {
    
    padding-right: 12px;
}

.library ul li a i:hover {
    color: #fff;
}

.library .first_playlist {
    background-color: #272626;
    border-radius: 10px;
    margin: 0 0px 16px 0;
    display: block;
}

.library .first_playlist ul {
    display: block;
    padding: 16px 18px;
}

.library .first_playlist ul li {
    padding: 0;
}

.library .first_playlist ul li a{
    color: #fff;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    padding: 0;
}

.library .first_playlist ul li p {
    color: #fff;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    padding: 8px 0 0 0;
}

.library .first_playlist .create_playlist_button {
    padding: 20px 0 24px 0; 

}

.create_playlist_btn_style {
    background-color: #fff;
    color: #000000;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    border-radius: 16px;
    margin-left: 16px;
    padding: 8px 14px;
}

.create_playlist_btn_style:hover {
    background-color: #3fd33f;
    padding: 10px 16px;
    border-radius: 20px;

}

.library .find_podcasts {
    background-color: #272626;
    border-radius: 10px;
    margin: 0 0px 16px 0;
    display: block;
}

.library .find_podcasts ul {
    display: block;
    padding: 16px 18px;
}

.library .find_podcasts ul li {
    padding: 0;
}

.library .find_podcasts ul li a{
    color: #fff;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    padding: 0;
}

.library .find_podcasts ul li p {
    color: #fff;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    padding: 8px 0 0 0;
}

.library .find_podcasts .find_podcasts_button {
    padding: 20px 0 24px 0; 

}

.library .find_podcasts .find_podcasts_button a {
    background-color: #fff;
    color: #000000;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    border-radius: 16px;
    margin-left: 16px;
    padding: 8px 14px;
}

.library .find_podcasts .find_podcasts_button a:hover {
    background-color: #3fd33f;
    padding: 10px 16px;
    border-radius: 20px;
}

.cookies {
    padding-top: 130px;

}

.cookies ul li a {
    font-size: 11px;
    font-weight: 500;
    color: #b3b3b3;
    display: block;
    padding-top: 8px;

}

.choose_lang_button {
    padding: 10px 0 0 0;
}

.choose_lang_button ul li a{
    background-color: transparent;
    border: 1px solid #b3b3b3;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    border-radius: 20px;
    padding: 10px 16px;
}

.choose_lang_button ul li a:hover {
    border-radius: 26px;
    padding: 11px 18px;
    border: 1px solid #fff;
}

.choose_lang_button ul li a i {
    color: #fff;
    font-size: 18px;
}

.choose_lang_button ul li a span {
    color: #fff;
    font-size: 15px;
}

footer {
    background-color: #3b85f5;
    background: linear-gradient(to right, #dd35b9, #3b85f5);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 14px 16px 14px 16px;
    margin: 0px 12px 8px 12px;
}

.footer_subscribe_spotify {
    display: flex;
    justify-content: space-between;
}

.footer_subscribe_spotify ul li {
    padding-bottom: 4px;
}

.footer_subscribe_spotify ul li span {
    color: #fff;
    font-weight: 700;
    font-size: 13px;
}

.footer_subscribe_spotify ul li a {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.container_sub_spotify_btn {
    padding-top: 15px;
}

.subscribe_spotify_btn {
    background-color: #fff;
    color: #000000;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    border-radius: 36px;
    margin-left: 14px;
    margin-right: 10px;
    padding: 18px 30px;
}

.subscribe_spotify_btn:hover {
    padding: 19px 32px;
}

